practice/ch5_real_challenge/workflows/01_load_mitre.json
{
  "name": "01 Load MITRE ATT&CK",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7d4f7c1f-fd8a-40f1-9b1d-c0911d1c8140",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/tactics.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        464,
        0
      ],
      "id": "8ce4dca9-0c91-4ba1-92ef-075be625990b",
      "name": "Read Tactics"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        0
      ],
      "id": "c681c60a-17a9-4f63-b1f7-34ee88f53e18",
      "name": "Parse Tactics"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        208
      ],
      "id": "5196468a-fda6-4e78-a1c9-e89976fb4079",
      "name": "Normalize Tactics"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 10) {\n  const batch = all.slice(offset, offset + 10);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{tactic_id:'${esc(r.tactic_id)}',name:'${esc(r.name)}',shortname:'${esc(r.shortname)}',description:'${esc(r.description)}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (t:Tactic {tactic_id: row.tactic_id})\nSET t.name = row.name, t.shortname = row.shortname, t.description = row.description`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        208
      ],
      "id": "a2b2ea7d-66f6-4836-a36d-2d8bf967790b",
      "name": "Build Tactics Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        208
      ],
      "id": "5abe914e-e7a3-4e4e-96d7-8e69094c84d3",
      "name": "MERGE Tactics",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        208
      ],
      "id": "80b1f89b-eca0-4c45-b46d-a1483f8c2be8",
      "name": "Done Tactics"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/techniques.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        208
      ],
      "id": "b67895e3-8c26-4edd-9b6f-6f7a6cfe6daf",
      "name": "Read Techniques"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1776,
        208
      ],
      "id": "40f3c721-56d8-4b30-9641-4a0c14f772b2",
      "name": "Parse Techniques"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        416
      ],
      "id": "b43085f1-bd80-449a-a687-df62f2616465",
      "name": "Normalize Techniques"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{technique_id:'${esc(r.technique_id)}',name:'${esc(r.name)}',description:'${esc(r.description)}',is_sub:${!!r.is_subtechnique},platforms:'${esc((r.platforms||[]).join(','))}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (t:Technique {technique_id: row.technique_id})\nSET t.name = row.name, t.description = row.description,\n    t.is_subtechnique = row.is_sub, t.platforms = row.platforms`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        416
      ],
      "id": "ae5b4dbf-df3e-4552-9c05-4cffc903d6bf",
      "name": "Build Techniques Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        416
      ],
      "id": "8be6c61b-972f-459c-9bb1-899231432fc9",
      "name": "MERGE Techniques",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2224,
        416
      ],
      "id": "6e653f70-73c3-4c00-a6b7-be0c5e9a1f8a",
      "name": "Done Techniques"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/threat_actors.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2608,
        416
      ],
      "id": "6b431dbd-1130-4255-8a0e-51be4dcd6b5a",
      "name": "Read Actors"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2832,
        416
      ],
      "id": "f4773374-0cf0-493c-9dd3-6c1211c5933d",
      "name": "Parse Actors"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        608
      ],
      "id": "25771fdf-8ea6-443e-9c49-415665003415",
      "name": "Normalize Actors"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{name:'${esc(r.name)}',aliases:'${esc((r.aliases||[]).join(','))}',description:'${esc(r.description)}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (a:ThreatActor {name: row.name})\nSET a.aliases = row.aliases, a.description = row.description`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        608
      ],
      "id": "736e4fe4-ed3e-4b56-bdae-ad0d12d1ee06",
      "name": "Build Actors Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3056,
        608
      ],
      "id": "b22ccc17-3068-4cfa-b17d-d7bda2819d5a",
      "name": "MERGE Actors",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3296,
        608
      ],
      "id": "ae00b93e-83c0-4b72-86f7-565e2c438019",
      "name": "Done Actors"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/malware.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3648,
        608
      ],
      "id": "1917b03c-d6a0-4137-bdb8-f61d3e5f20c1",
      "name": "Read Malware"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        3872,
        608
      ],
      "id": "3dabd139-d4b4-4e83-b597-b0c7b411c807",
      "name": "Parse Malware"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        800
      ],
      "id": "513aed81-10fb-483f-9d80-4ad2fa3ca639",
      "name": "Normalize Malware"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{name:'${esc(r.name)}',malware_type:'${esc(r.malware_type)}',description:'${esc(r.description)}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (m:Malware {name: row.name})\nSET m.malware_type = row.malware_type, m.description = row.description`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        800
      ],
      "id": "e78829ee-5bb7-4efe-9222-5d476d6ce11a",
      "name": "Build Malware Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        800
      ],
      "id": "c0312815-aff1-437c-b7d5-ff0542f8905a",
      "name": "MERGE Malware",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4304,
        800
      ],
      "id": "5c811b99-05fd-4981-9b4e-1affdf08e7dd",
      "name": "Done Malware"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/tools.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        4656,
        800
      ],
      "id": "85a3529e-b9b3-41da-93b6-80bfaaf221f4",
      "name": "Read Tools"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        4880,
        800
      ],
      "id": "e62e4a94-b7a3-48e3-a2ff-cbf8c46a1b63",
      "name": "Parse Tools"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        992
      ],
      "id": "faa27f56-0940-4ded-a76b-a86f658f77f5",
      "name": "Normalize Tools"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{name:'${esc(r.name)}',tool_type:'${esc(r.tool_type)}',description:'${esc(r.description)}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (t:Tool {name: row.name})\nSET t.tool_type = row.tool_type, t.description = row.description`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        992
      ],
      "id": "74b17b32-dac4-4c66-839f-dc5c1bf29b04",
      "name": "Build Tools Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5104,
        992
      ],
      "id": "9936b549-67f5-4e0f-9985-f394a85b3980",
      "name": "MERGE Tools",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5312,
        992
      ],
      "id": "54a0e097-0b98-4244-973d-ae8d9d4b0af4",
      "name": "Done Tools"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/mitigations.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        5712,
        992
      ],
      "id": "37980e68-3316-4f16-aa23-29669411d776",
      "name": "Read Mitigations"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        5936,
        992
      ],
      "id": "9c1cf936-a6ed-4c15-80a4-3c3adfd7b6c9",
      "name": "Parse Mitigations"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        1216
      ],
      "id": "098818f8-53b6-4749-8a0f-36337eb32082",
      "name": "Normalize Mitigations"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const rows = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\").substring(0,500);\n    return `{mitigation_id:'${esc(r.mitigation_id)}',name:'${esc(r.name)}',description:'${esc(r.description)}'}`;\n  }).join(',');\n  if (!rows) continue;\n  out.push({json: {query:\n`UNWIND [${rows}] AS row\nMERGE (m:Mitigation {mitigation_id: row.mitigation_id})\nSET m.name = row.name, m.description = row.description`\n  }});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5936,
        1216
      ],
      "id": "50972fe1-08a8-4357-8613-5766bdd9120e",
      "name": "Build Mitigations Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6144,
        1216
      ],
      "id": "d49a130e-47ac-4927-8245-d654846d71bc",
      "name": "MERGE Mitigations",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        6352,
        1216
      ],
      "id": "0dd382d2-30e5-43a4-8e09-47a83543028d",
      "name": "Done Mitigations"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/mitre/relationships.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        6816,
        1216
      ],
      "id": "19e8892e-d98a-43db-bab8-9e8383a7eefc",
      "name": "Read Relationships"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        7040,
        1216
      ],
      "id": "006f0b49-83f0-47a2-b1e2-d2a4e54c86e5",
      "name": "Parse Relationships"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  const records = Array.isArray(data) ? data : [data];\n  for (const record of records) {\n    output.push({ json: record });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6816,
        1424
      ],
      "id": "cb8fee82-963f-43eb-be39-b630e25e8924",
      "name": "Normalize Relationships"
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst out = [];\nfor (let offset = 0; offset < all.length; offset += 50) {\n  const batch = all.slice(offset, offset + 50);\n  const calls = batch.map(i => {\n    const r = i.json;\n    const esc = s => String(s||'').replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"\\\\'\");\n    return `CALL { OPTIONAL MATCH (s:${r.src_label} {${r.src_key}: '${esc(r.src_val)}'}) OPTIONAL MATCH (d:${r.dst_label} {${r.dst_key}: '${esc(r.dst_val)}'}) WITH s,d WHERE s IS NOT NULL AND d IS NOT NULL MERGE (s)-[:${r.neo4j_rel}]->(d) }`;\n  }).join('\\n');\n  if (!calls) continue;\n  out.push({json: {query: calls}});\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7040,
        1424
      ],
      "id": "615b07d0-e022-4f78-9b7f-2f0d8c9391a0",
      "name": "Build Relationships Queries"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7584,
        1552
      ],
      "id": "51113ded-fb32-4e80-862a-d2adf22c735c",
      "name": "MERGE Relationships",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        7584,
        1408
      ],
      "id": "1e58574c-c1c1-4b38-a142-30c304396ad8",
      "name": "Done Relationships"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        928,
        0
      ],
      "id": "a569e35c-4887-4da1-a6a2-f072f05ac806",
      "name": "Split Out Tactics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2016,
        208
      ],
      "id": "051104fc-1467-4778-a9bf-7ba87807d99f",
      "name": "Split Out Techniques"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3056,
        416
      ],
      "id": "e1ded14f-6659-4c6c-bd1a-103d14fa96de",
      "name": "Split Out Actors"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4080,
        608
      ],
      "id": "86b4a6b6-e03c-443d-af02-1e3e96ea4e36",
      "name": "Split Out Malware"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5104,
        800
      ],
      "id": "988ea83f-f085-42af-971f-107e686546b3",
      "name": "Split Out Tools"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        6144,
        992
      ],
      "id": "18701ab2-05bb-481a-874d-db7bb5acebde",
      "name": "Split Out Mitigations"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7264,
        1216
      ],
      "id": "a3f0b4fd-67d5-4ad7-a590-994cfe19541e",
      "name": "Split Out Relationships"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        7264,
        1424
      ],
      "id": "344a92fb-eb38-4d53-80e1-6e122dbc6b0d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Injest Tactics\n \nMITRE ATT&CK matrix 파일에서 tactic 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        -144
      ],
      "id": "fcaa955a-2bb1-4a4e-a8b1-81c5b0a49814",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Injest Techniques\n \nMITRE ATT&CK matrix 파일에서 techniques 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        64
      ],
      "id": "ca64b6b0-eb50-4396-9569-9054e8961ce2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Injest Actors\n \nMITRE ATT&CK matrix 파일에서 actors 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2512,
        240
      ],
      "id": "dbbea1a6-e45e-4410-b524-3531d3f3952f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Injest Malware\n \nMITRE ATT&CK matrix 파일에서 malware 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3536,
        432
      ],
      "id": "3f36c41d-36c5-4931-8af0-452bb8883246",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Injest Tools\n \nMITRE ATT&CK matrix 파일에서 tools 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4560,
        624
      ],
      "id": "53f521f3-113f-4971-b1dc-20eea8d26b7a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Injest Mitigations\n \nMITRE ATT&CK matrix 파일에서 mitigations 부분을 추출하여 Neo4j 그래프에 주입",
        "height": 528,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5584,
        864
      ],
      "id": "a710f9a8-e7bc-4907-a914-7780566c8d44",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Injest Relationships\n \nMITRE ATT&CK matrix 파일에서 앞서 집어넣은 모든 요소들 간의 관계를 Neo4j 그래프에 주입",
        "height": 736,
        "width": 1104,
        "color": "#FFBDBD"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6688,
        1072
      ],
      "id": "e44425ae-66b2-4006-8c66-2a3c0e02027d",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tactics": {
      "main": [
        [
          {
            "node": "Parse Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tactics": {
      "main": [
        [
          {
            "node": "Split Out Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tactics": {
      "main": [
        [
          {
            "node": "Build Tactics Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tactics Queries": {
      "main": [
        [
          {
            "node": "MERGE Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Tactics": {
      "main": [
        [
          {
            "node": "Done Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Tactics": {
      "main": [
        [
          {
            "node": "Read Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Techniques": {
      "main": [
        [
          {
            "node": "Parse Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Techniques": {
      "main": [
        [
          {
            "node": "Split Out Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Techniques": {
      "main": [
        [
          {
            "node": "Build Techniques Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Techniques Queries": {
      "main": [
        [
          {
            "node": "MERGE Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Techniques": {
      "main": [
        [
          {
            "node": "Done Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Techniques": {
      "main": [
        [
          {
            "node": "Read Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Actors": {
      "main": [
        [
          {
            "node": "Parse Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Actors": {
      "main": [
        [
          {
            "node": "Split Out Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Actors": {
      "main": [
        [
          {
            "node": "Build Actors Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Actors Queries": {
      "main": [
        [
          {
            "node": "MERGE Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Actors": {
      "main": [
        [
          {
            "node": "Done Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Actors": {
      "main": [
        [
          {
            "node": "Read Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Malware": {
      "main": [
        [
          {
            "node": "Parse Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Malware": {
      "main": [
        [
          {
            "node": "Split Out Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Malware": {
      "main": [
        [
          {
            "node": "Build Malware Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Malware Queries": {
      "main": [
        [
          {
            "node": "MERGE Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Malware": {
      "main": [
        [
          {
            "node": "Done Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Malware": {
      "main": [
        [
          {
            "node": "Read Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Tools": {
      "main": [
        [
          {
            "node": "Parse Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tools": {
      "main": [
        [
          {
            "node": "Split Out Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tools": {
      "main": [
        [
          {
            "node": "Build Tools Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tools Queries": {
      "main": [
        [
          {
            "node": "MERGE Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Tools": {
      "main": [
        [
          {
            "node": "Done Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Tools": {
      "main": [
        [
          {
            "node": "Read Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Mitigations": {
      "main": [
        [
          {
            "node": "Parse Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Mitigations": {
      "main": [
        [
          {
            "node": "Split Out Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Mitigations": {
      "main": [
        [
          {
            "node": "Build Mitigations Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mitigations Queries": {
      "main": [
        [
          {
            "node": "MERGE Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Mitigations": {
      "main": [
        [
          {
            "node": "Done Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done Mitigations": {
      "main": [
        [
          {
            "node": "Read Relationships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Relationships": {
      "main": [
        [
          {
            "node": "Parse Relationships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Relationships": {
      "main": [
        [
          {
            "node": "Split Out Relationships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Relationships": {
      "main": [
        [
          {
            "node": "Build Relationships Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Relationships Queries": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MERGE Relationships": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Tactics": {
      "main": [
        [
          {
            "node": "Normalize Tactics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Techniques": {
      "main": [
        [
          {
            "node": "Normalize Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Actors": {
      "main": [
        [
          {
            "node": "Normalize Actors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Malware": {
      "main": [
        [
          {
            "node": "Normalize Malware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Tools": {
      "main": [
        [
          {
            "node": "Normalize Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Mitigations": {
      "main": [
        [
          {
            "node": "Normalize Mitigations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Relationships": {
      "main": [
        [
          {
            "node": "Normalize Relationships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Done Relationships",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MERGE Relationships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "77a730a2-48f8-4528-b968-d9b3827c0075",
  "meta": {
    "instanceId": "f962da71cc3c2bf75c6be8a1677d16974c29e5ce29b76687fb9f2f072416354b"
  },
  "id": "msF6BlvFB7U1BndI",
  "tags": []
}