practice/ch4_n8n_automation/workflows/01_data_ingestion.json
{
  "name": "01 Data Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        512
      ],
      "id": "5e900dbb-dacb-4aee-a018-78e1621186d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2544,
        784
      ],
      "id": "fadb8b59-3147-4d67-8971-ecdcf145793e",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/threat_intel.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2336,
        784
      ],
      "id": "6570aa6b-fe82-4e48-8113-632292d1f790",
      "name": "Read JSON File",
      "executeOnce": true
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/security_events.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1056,
        800
      ],
      "id": "09eafa3d-913d-4162-8898-22c97cdf0967",
      "name": "Read CSV File",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        800
      ],
      "id": "29880d58-af79-4cc1-a023-ff9db3f12c9a",
      "name": "Parse CSV"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = item.json;\n\n  return {\n    json: {\n      event_id: String(row.event_id || '').trim(),\n      timestamp: String(row.timestamp || '').trim(),\n      hostname: String(row.hostname || '').trim(),\n      user_id: String(row.user_id || '').trim(),\n      src_ip: String(row.src_ip || '').trim(),\n      dst_ip: String(row.dst_ip || '').trim(),\n      process_name: String(row.process_name || '').trim(),\n\n      domain: String(row.domain || '').trim().toLowerCase(),\n      url: String(row.url || '').trim(),\n\n      file_hash: String(row.file_hash || '').trim().toLowerCase(),\n\n      alert_type: String(row.alert_type || '').trim(),\n      severity: String(row.severity || '').trim(),\n      technique_id: String(row.technique_id || '').trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        800
      ],
      "id": "6b5a25c6-0e1a-4b0a-8a9d-77d0b2af51b5",
      "name": "Normalize CSV"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:8082/neo4j/get-schema -H \"Content-Type: application/json\" -d '{\"properties\": {}}'\n\n\ncurl -X POST http://localhost:8080/neo4j/read-cypher \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"query\": \"{{query}}\"\n  }'\n\ncurl -X POST http://localhost:8080/neo4j/write-cypher \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"query\": \"{{query}}\"\n  }'",
        "height": 272,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d56f1bd6-b47d-487e-85c9-3b69d7e370e5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT event_id_unique IF NOT EXISTS\nFOR (e:Event) REQUIRE e.event_id IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        512
      ],
      "id": "92badaa3-faba-4ee8-8e03-e4cc1aad8fb4",
      "name": "Setup Constraints",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT host_hostname_unique IF NOT EXISTS\nFOR (h:Host) REQUIRE h.hostname IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        656
      ],
      "id": "56657972-d108-416d-bfea-71f92b9027ce",
      "name": "Setup Constraints1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT user_id_unique IF NOT EXISTS\nFOR (u:User) REQUIRE u.user_id IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        800
      ],
      "id": "97997ece-df2b-4e73-9e22-03ff80e706d3",
      "name": "Setup Constraints2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT ip_unique IF NOT EXISTS\nFOR (ip:IPAddress) REQUIRE ip.ip IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        512
      ],
      "id": "adeeb168-c894-4269-a1a5-0a857accc821",
      "name": "Setup Constraints3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT domain_unique IF NOT EXISTS\nFOR (d:Domain) REQUIRE d.domain IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        656
      ],
      "id": "3df5d095-deff-4c3a-bc22-abb54a7052a7",
      "name": "Setup Constraints4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT url_unique IF NOT EXISTS\nFOR (u:URL) REQUIRE u.url IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        800
      ],
      "id": "14299b13-4909-42bc-9039-ba6bc788971e",
      "name": "Setup Constraints5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT file_hash_unique IF NOT EXISTS\nFOR (f:FileHash) REQUIRE f.hash IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        512
      ],
      "id": "75e189f1-560c-4458-8552-bf3406e0612a",
      "name": "Setup Constraints6",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT technique_id_unique IF NOT EXISTS\nFOR (t:Technique) REQUIRE t.technique_id IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        656
      ],
      "id": "5a12083e-6f16-497d-b8ff-44ada623655e",
      "name": "Setup Constraints7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT intel_id_unique IF NOT EXISTS\nFOR (ti:ThreatIntel) REQUIRE ti.intel_id IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        800
      ],
      "id": "186ad806-987c-4afe-847e-9b1d0b9a6589",
      "name": "Setup Constraints8",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT actor_name_unique IF NOT EXISTS\nFOR (a:ThreatActor) REQUIRE a.name IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        512
      ],
      "id": "3232e552-eecd-448e-a9cc-abc2372e84d8",
      "name": "Setup Constraints9",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT malware_name_unique IF NOT EXISTS\nFOR (m:Malware) REQUIRE m.name IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        656
      ],
      "id": "b626ea9a-cd1e-479a-bd9e-069276c7fd63",
      "name": "Setup Constraints10",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "CREATE CONSTRAINT campaign_name_unique IF NOT EXISTS\nFOR (c:Campaign) REQUIRE c.name IS UNIQUE;"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        800
      ],
      "id": "0278efae-dbdc-40aa-ad97-23eec7f494fc",
      "name": "Setup Constraints11",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Setup Constraints\n필수는 아니지만\n스키마에 맞게 깔끔하게 적재하기 위한 \"안전장치\"",
        "height": 832,
        "width": 848,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        352
      ],
      "id": "71f47cbd-a5f8-4bf9-972c-cc72244cf88a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nconst output = [];\n\nfor (const item of input) {\n  const data = item.json;\n\n  const records = Array.isArray(data) ? data : [data];\n\n  for (const x of records) {\n    output.push({\n      json: {\n        intel_id: String(x.intel_id || '').trim(),\n        source: String(x.source || 'Demo CTI Feed').trim(),\n\n        indicator_value: String(x.indicator_value || '').trim().toLowerCase(),\n        indicator_type: String(x.indicator_type || '').trim().toLowerCase(),\n\n        threat_actor: String(x.threat_actor || '').trim(),\n        actor_origin: String(x.actor_origin || '').trim(),\n        actor_motivation: String(x.actor_motivation || '').trim(),\n\n        malware: String(x.malware || '').trim(),\n        malware_type: String(x.malware_type || '').trim(),\n\n        campaign: String(x.campaign || '').trim(),\n        campaign_description: String(x.campaign_description || '').trim(),\n\n        confidence: Number(x.confidence || 0),\n        first_seen: String(x.first_seen || '').trim(),\n        last_seen: String(x.last_seen || '').trim(),\n\n        techniques: Array.isArray(x.techniques) ? x.techniques : []\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        784
      ],
      "id": "f3138b9b-7e60-40f2-8a7c-1e98f05faa96",
      "name": "Normalize JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2752,
        784
      ],
      "id": "762da47a-8a46-4d86-9095-96b4540673cd",
      "name": "Split JSON"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.indicator_type }}",
                    "rightValue": "domain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb874b68-6a9e-409a-882f-3ec9e76f0947"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0db74471-1d32-4fe6-b03c-281f29605a4d",
                    "leftValue": "={{ $json.indicator_type }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7835d76a-d6d1-47ed-b63b-e6abe6179da1",
                    "leftValue": "={{ $json.indicator_type }}",
                    "rightValue": "ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ffc697c4-5ff8-4138-a7d8-e7230ac07307",
                    "leftValue": "={{ $json.indicator_type }}",
                    "rightValue": "file_hash",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3184,
        752
      ],
      "id": "e93aa891-b6ec-4880-9885-96a002ac2e16",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (e:Event {event_id: '{{ $json.event_id }}'})\nSET e.timestamp = '{{ $json.timestamp }}',\n    e.alert_type = '{{ $json.alert_type }}',\n    e.severity = '{{ $json.severity }}'\n\nMERGE (h:Host {hostname: '{{ $json.hostname }}'})\nMERGE (u:User {user_id: '{{ $json.user_id }}'})\nMERGE (src:IPAddress {ip: '{{ $json.src_ip }}'})\nMERGE (dst:IPAddress {ip: '{{ $json.dst_ip }}'})\nMERGE (d:Domain {domain: '{{ $json.domain }}'})\nMERGE (url:URL {url: '{{ $json.url }}'})\nMERGE (fh:FileHash {hash: '{{ $json.file_hash }}'})\nMERGE (t:Technique {technique_id: '{{ $json.technique_id }}'})\n\nMERGE (e)-[:OCCURRED_ON]->(h)\nMERGE (e)-[:INITIATED_BY]->(u)\nMERGE (e)-[:FROM_IP]->(src)\nMERGE (e)-[:TO_IP]->(dst)\nMERGE (e)-[:CONTACTED_DOMAIN]->(d)\nMERGE (e)-[:REQUESTED_URL]->(url)\nMERGE (e)-[:INVOLVED_FILE]->(fh)\nMERGE (e)-[:USES_TECHNIQUE]->(t)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        912
      ],
      "id": "80bc7e34-257a-4367-8aab-87edba82bcd4",
      "name": "Merge CSV data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (ti:ThreatIntel {intel_id: '{{ $json.intel_id }}'})\nSET ti.source = '{{ $json.source }}',\n    ti.confidence = {{ $json.confidence }},\n    ti.first_seen = '{{ $json.first_seen }}',\n    ti.last_seen = '{{ $json.last_seen }}'\n\nMERGE (ioc:Domain {domain: '{{ $json.indicator_value }}'})\nMERGE (ti)-[:DESCRIBES]->(ioc)\n\nMERGE (a:ThreatActor {name: '{{ $json.threat_actor }}'})\nSET a.origin = '{{ $json.actor_origin }}',\n    a.motivation = '{{ $json.actor_motivation }}'\n\nMERGE (m:Malware {name: '{{ $json.malware }}'})\nSET m.malware_type = '{{ $json.malware_type }}'\n\nMERGE (c:Campaign {name: '{{ $json.campaign }}'})\nSET c.description = '{{ $json.campaign_description }}'\n\nMERGE (ti)-[:ATTRIBUTED_TO]->(a)\nMERGE (ti)-[:ASSOCIATED_WITH_MALWARE]->(m)\nMERGE (ti)-[:PART_OF_CAMPAIGN]->(c)\n\nMERGE (a)-[:USES_MALWARE]->(m)\nMERGE (a)-[:OPERATES_CAMPAIGN]->(c)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3488,
        576
      ],
      "id": "d96d0893-5457-49a6-8037-c31f9060c1bf",
      "name": "Merge JSON domain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (ti:ThreatIntel {intel_id: '{{ $json.intel_id }}'})\nSET ti.source = '{{ $json.source }}',\n    ti.confidence = {{ $json.confidence }},\n    ti.first_seen = '{{ $json.first_seen }}',\n    ti.last_seen = '{{ $json.last_seen }}'\n\nMERGE (ioc:URL {url: '{{ $json.indicator_value }}'})\nMERGE (ti)-[:DESCRIBES]->(ioc)\n\nMERGE (a:ThreatActor {name: '{{ $json.threat_actor }}'})\nSET a.origin = '{{ $json.actor_origin }}',\n    a.motivation = '{{ $json.actor_motivation }}'\n\nMERGE (m:Malware {name: '{{ $json.malware }}'})\nSET m.malware_type = '{{ $json.malware_type }}'\n\nMERGE (c:Campaign {name: '{{ $json.campaign }}'})\nSET c.description = '{{ $json.campaign_description }}'\n\nMERGE (ti)-[:ATTRIBUTED_TO]->(a)\nMERGE (ti)-[:ASSOCIATED_WITH_MALWARE]->(m)\nMERGE (ti)-[:PART_OF_CAMPAIGN]->(c)\n\nMERGE (a)-[:USES_MALWARE]->(m)\nMERGE (a)-[:OPERATES_CAMPAIGN]->(c)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3488,
        720
      ],
      "id": "06af97ad-5098-4d5c-b158-df29834c2bb2",
      "name": "Merge JSON URL",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (ti:ThreatIntel {intel_id: '{{ $json.intel_id }}'})\nSET ti.source = '{{ $json.source }}',\n    ti.confidence = {{ $json.confidence }},\n    ti.first_seen = '{{ $json.first_seen }}',\n    ti.last_seen = '{{ $json.last_seen }}'\n\nMERGE (ioc:IPAddress {ip: '{{ $json.indicator_value }}'})\nMERGE (ti)-[:DESCRIBES]->(ioc)\n\nMERGE (a:ThreatActor {name: '{{ $json.threat_actor }}'})\nSET a.origin = '{{ $json.actor_origin }}',\n    a.motivation = '{{ $json.actor_motivation }}'\n\nMERGE (m:Malware {name: '{{ $json.malware }}'})\nSET m.malware_type = '{{ $json.malware_type }}'\n\nMERGE (c:Campaign {name: '{{ $json.campaign }}'})\nSET c.description = '{{ $json.campaign_description }}'\n\nMERGE (ti)-[:ATTRIBUTED_TO]->(a)\nMERGE (ti)-[:ASSOCIATED_WITH_MALWARE]->(m)\nMERGE (ti)-[:PART_OF_CAMPAIGN]->(c)\n\nMERGE (a)-[:USES_MALWARE]->(m)\nMERGE (a)-[:OPERATES_CAMPAIGN]->(c)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3488,
        864
      ],
      "id": "605f5eb8-6f57-4872-8e41-5475cb32b9d9",
      "name": "Merge JSON IP",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (ti:ThreatIntel {intel_id: '{{ $json.intel_id }}'})\nSET ti.source = '{{ $json.source }}',\n    ti.confidence = {{ $json.confidence }},\n    ti.first_seen = '{{ $json.first_seen }}',\n    ti.last_seen = '{{ $json.last_seen }}'\n\nMERGE (ioc:FileHash {hash: '{{ $json.indicator_value }}'})\nMERGE (ti)-[:DESCRIBES]->(ioc)\n\nMERGE (a:ThreatActor {name: '{{ $json.threat_actor }}'})\nSET a.origin = '{{ $json.actor_origin }}',\n    a.motivation = '{{ $json.actor_motivation }}'\n\nMERGE (m:Malware {name: '{{ $json.malware }}'})\nSET m.malware_type = '{{ $json.malware_type }}'\n\nMERGE (c:Campaign {name: '{{ $json.campaign }}'})\nSET c.description = '{{ $json.campaign_description }}'\n\nMERGE (ti)-[:ATTRIBUTED_TO]->(a)\nMERGE (ti)-[:ASSOCIATED_WITH_MALWARE]->(m)\nMERGE (ti)-[:PART_OF_CAMPAIGN]->(c)\n\nMERGE (a)-[:USES_MALWARE]->(m)\nMERGE (a)-[:OPERATES_CAMPAIGN]->(c)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3488,
        1008
      ],
      "id": "ee1d4508-2210-4536-a9c8-1cdb7f324267",
      "name": "Merge JSON FileHash",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  const x = item.json;\n\n  for (const t of x.techniques || []) {\n    output.push({\n      json: {\n        intel_id: x.intel_id,\n        malware: x.malware,\n        technique_id: String(t.technique_id || '').trim(),\n        technique_name: String(t.name || '').trim(),\n        tactic: String(t.tactic || '').trim()\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        800
      ],
      "id": "900d2186-2bf9-42d7-b818-5456396a66b7",
      "name": "Split Techniques",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcpo:8080/neo4j/write-cypher",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=MERGE (ti:ThreatIntel {intel_id: '{{ $json.intel_id }}'})\n\nMERGE (t:Technique {technique_id: '{{ $json.technique_id }}'})\nSET t.name = '{{ $json.technique_name }}',\n    t.tactic = '{{ $json.tactic }}'\n\nMERGE (ti)-[:REPORTS_TECHNIQUE]->(t)\n\nWITH ti, t\nMATCH (m:Malware {name: '{{ $json.malware }}'})\nMERGE (m)-[:USES_TECHNIQUE]->(t)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4016,
        800
      ],
      "id": "e0ac2d85-d5e1-46f5-867b-96cdfa335cf0",
      "name": "Merge JSON Technique",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Integrate CSV data\n\n- CSV 파일을 읽어들여 파싱 및 정규화를 거친 후 Neo4j 에 통합하는 과정\n\nNodes Created\n• Event (event_id, timestamp, alert_type, severity)\n• Host (hostname)\n• User (user_id)\n• IPAddress (src_ip / dst_ip)\n• Domain (domain)\n• URL (url)\n• FileHash (hash)\n• Technique (technique_id)\n\nRelationships Created\n• Event -[:OCCURRED_ON]-> Host\n• Event -[:INITIATED_BY]-> User\n• Event -[:FROM_IP]-> Source IP\n• Event -[:TO_IP]-> Destination IP\n• Event -[:CONTACTED_DOMAIN]-> Domain\n• Event -[:REQUESTED_URL]-> URL\n• Event -[:INVOLVED_FILE]-> FileHash\n• Event -[:USES_TECHNIQUE]-> Technique",
        "height": 832,
        "width": 1136,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        352
      ],
      "id": "ea4c5995-d838-4fff-a964-51e43f741b0b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Integrate JSON data\n\n- CTI JSON 피드를 구조화된 threat graph로 통합\n- 외부 인텔리전스 정보를 내부 보안 이벤트(앞 플로우)와 통합하는 것이 목적\n\nNodes Created\n• ThreatIntel (intel_id, source, confidence, first_seen, last_seen)\n• Domain / URL / IPAddress / FileHash (IOC by indicator_type)\n• ThreatActor (name, origin, motivation)\n• Malware (name, malware_type)\n• Campaign (name, description)\n• Technique (technique_id, name, tactic)\n\nRelationships Created\n• ThreatIntel -[:DESCRIBES]-> IOC\n• ThreatIntel -[:ATTRIBUTED_TO]-> ThreatActor\n• ThreatIntel -[:ASSOCIATED_WITH_MALWARE]-> Malware\n• ThreatIntel -[:PART_OF_CAMPAIGN]-> Campaign\n• ThreatIntel -[:REPORTS_TECHNIQUE]-> Technique\n• ThreatActor -[:USES_MALWARE]-> Malware\n• ThreatActor -[:OPERATES_CAMPAIGN]-> Campaign\n• Malware -[:USES_TECHNIQUE]-> Technique",
        "height": 832,
        "width": 1984,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        352
      ],
      "id": "964027c8-0e3d-45bb-8b73-1141223520d7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        800
      ],
      "id": "2bd33c84-cf08-4314-b9ed-3473fc909c9f",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Setup Constraints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read JSON File": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Normalize CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints": {
      "main": [
        [
          {
            "node": "Setup Constraints1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints1": {
      "main": [
        [
          {
            "node": "Setup Constraints2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints2": {
      "main": [
        [
          {
            "node": "Setup Constraints3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints3": {
      "main": [
        [
          {
            "node": "Setup Constraints4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints4": {
      "main": [
        [
          {
            "node": "Setup Constraints5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints5": {
      "main": [
        [
          {
            "node": "Setup Constraints6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints6": {
      "main": [
        [
          {
            "node": "Setup Constraints7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints7": {
      "main": [
        [
          {
            "node": "Setup Constraints8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints8": {
      "main": [
        [
          {
            "node": "Setup Constraints9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints9": {
      "main": [
        [
          {
            "node": "Setup Constraints10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints10": {
      "main": [
        [
          {
            "node": "Setup Constraints11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Constraints11": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize CSV": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Split JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split JSON": {
      "main": [
        [
          {
            "node": "Normalize JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize JSON": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge JSON domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge JSON URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge JSON IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge JSON FileHash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Techniques": {
      "main": [
        [
          {
            "node": "Merge JSON Technique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CSV data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON domain": {
      "main": [
        [
          {
            "node": "Split Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON URL": {
      "main": [
        [
          {
            "node": "Split Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON IP": {
      "main": [
        [
          {
            "node": "Split Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON FileHash": {
      "main": [
        [
          {
            "node": "Split Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read JSON File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge CSV data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aff2410c-125f-4361-ba91-785ca382c852",
  "meta": {
    "instanceId": "35f9e4845be421ac9a8aca490c7c65ecdbde7a281ca2a97b43ca84b735e6214e"
  },
  "id": "VS6lRTaN4xYIPyGS",
  "tags": []
}